:root{
  font-size: 62.5%;
  --Font-Color:#1d4ed8;
  --Heightlight-color:#d97706;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.navbar-container{
  height: 5rem;
  margin-top: 2rem;

}
.flex-justify-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem; 
}
.flex-row{
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
  color:var(--Font-Color) ;
}
.flex-row-signin {
  display: flex;
  gap: 1rem;
}
.flex{
  display: flex;
  align-items: center;
  gap: 1rem;
 
}


/*navbar*/


/*  hero contant */

