:root{
  font-size: 62.5%;
  --Font-Color:#1d4ed8;
  --Heightlight-color:#d97706;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.navbar-container{
  height: 5rem;
  margin-top: 2rem;

}
.flex-justify-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem; 
}
.flex-row{
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
  color:var(--Font-Color) ;
}
.flex-row-signin {
  display: flex;
  gap: 1rem;
}
.flex{
  display: flex;
  align-items: center;
  gap: 1rem;
 
}


/*navbar*/


/*  hero contant */
.herosection-heading-one{
  font-size: 4rem;
  font-weight: 800;
}
.herosection-heading-two{
  font-size: 4.2rem;
  font-weight: 800;
}
.herosection-heading-three{
  font-size: 4rem;
  font-weight: 800; 
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.button-flex{
  display: flex;
  gap: 4rem;
}
.button-one{
  border-radius: 27px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2rem;
  background-color: var(--Heightlight-color);
}
.button-two{
  border-radius: 27px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
